@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

      
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2a273f, #2a273f);
    
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

}

header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 2px;
}



section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar ul
{
    list-style: none;
}

header .navbar ul li
{
    position: relative;
    float: left;

}
header .navbar ul li a
{
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 20px;
    display: block;
}

header .navbar ul li a:hover,
header .navbar ul li a.active
{
    background: #fff;
    color: #2a273f;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 100px;
    display: none;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

section:before 
{

    content: ''; /*allows for transparency */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#2a273f, transparent);
    z-index: 1000;
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}


#text
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 6.25vw;
    z-index: 9;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 2px;
    background: #fff;
    color: #9ccfd8;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

#btn:hover{
    background-color: transparent;
    border: 2px solid #9ccfd8;
    cursor: pointer;
}

.file_submit{
    padding: 0.5rem;
border-radius: 10%;
width: 150px;
height: 75px;
border: none;
color: white;
background-color: #2134a5;
box-shadow: inset 0 0 0 0 #252a72;
transition: ease-out 0.3s;
font-size: 1.5rem;
outline: none;

}
.file_submit:hover {
    box-shadow: inset 150px 0 0 0 #18b4b4;
}

.enterLabel{
    box-shadow: inset 0 0 0 0 #252a72;
    transition: ease-out 0.3s;
    outline: none;
}

.enterLabel:hover {
    box-shadow: inset 150px 0 0 0 #aa7cc5;
}

.checkbox-container {
    display: flex;
    align-items: center;

}

.checkbox-container label {
    cursor: pointer;
    display: flex;
}

.checkbox-container input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label::before {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: .15em;
    margin-right: 0.5em;
    border: .05em solid black;
}

.checkbox-container label:hover::before, 
.checkbox-container input[type='checkbox']:hover + label::before{
    background-color: aquamarine;

}

.checkbox-container input[type='checkbox']:checked + label::before {
    
    background-color: #18b4b4;
}


.sec
{
    position: relative;
    width: 100%;
    padding: 100px 0px;
    background-color: #2a273f;
}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin:auto;
    text-align: center;
}
.title h3{
    color: white;
    font-size: 75px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.card2{
    height: 425px;
    width: 1130px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #9ccfd8;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

h2{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 25px;
    align-items: center;

}
.card .button{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 2px;
    background: transparent;
    border: 2px solid #9ccfd8;
    color: #9ccfd8;
    font-size: 1.5em;
    z-index: 9;
    transition: ease-out 0.3s;
}

.card .button:hover{
    border: 2px solid #9ccfd8;
    cursor: pointer;
    box-shadow: inset 300px 0 0 0 #aa7cc5;
    transition: ease-out 0.3s;
}

.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;

}


footer{
    background-color: #2a273f;
    height: auto;
    width: 100vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 40px;
    color: white;

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.abouttext
{
    width: 600px;
    align-items: center;
}

.aboutsection
{   
    color: #fcfc;
    width: 1130px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;


}




